* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("./img/backImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .container {
    background-color: snow;
    border-top: 10px solid #95520B;
    border-bottom: 10px solid #95520B;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 800px;
}

.Title {
    color: bisque;
}

.add {
    background-color: bisque;
    border: 1px solid bisque;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.add:hover {
    background-color: rosybrown;
    border: 1px solid rosybrown;
    cursor: pointer;
}

.input_area {
    margin-bottom: 10px;
}

.task_area {
    border: 1px solid #6D3A04;
}

.task_tabs {
    display: flex;
    border-bottom: 1px solid #6D3A04;
    position: relative;
}

.task_tabs div {
    padding: 1em;
}

#under_line {
    background-color: bisque;
    height: 4px !important;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 63px;
    transition: 0.5s;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6D3A04;
    width: 100%;
}

.task span {
    padding: 1em;
  }

.taskDone {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
}

.taskBtn {
    right : 50px;
}

.task_tabs div {
    cursor: pointer;
} */

/* 
    부트스트랩에서 가져온 버튼은 아이콘을 넣든 내용을 넣든 테두리가 생기기때문에 꼴보기 싫으니 지워줌
*/
/* .btn:active, .btn:focus {
    outline:none !important;
    box-shadow:none !important;
    
}

.input {
    width: 80%;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    border: 1px solid #6D3A04;
    padding-right: 30px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #6D3A04;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.5s;
    padding-top: 35px;
  }

.input + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8f8f8f;
    font-size: 14px;
    top: 67px;
    left: 360px;
    -webkit-transition: top 0.6s ease, font-size 0.6s ease, color 0.6s ease;
    transition: top 0.6s ease, font-size 0.6s ease, color 0.6s ease;
  }

.input:focus + label > span {
    top: 63px;
    color: #333;
  }

  .button-box {
    display: flex;
  }
  
  .button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
  }
  .button-box button :active {
    position: relative;
    top: 2px;
  }
  
  .button-box button:first-child:hover {
    background-color: greenyellow;
  }
  .button-box button:nth-child(2):hover {
    background-color: rgb(255, 0, 0, 0.3);
  }
  
  .fa-check {
    color: limegreen;
  }
  
  .fa-trash {
    color: red;
  }
  .fa-undo-alt {
    color: lightslategray;
  } */
.container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 10px solid #95520B;
    border-bottom: 10px solid #95520B;
    height: 100%;
    min-height: 100vh;
}

.Title {
    color: bisque;
}

.input-area {
    position: relative;
}

.task-input {
    transition: padding-top 0.5s ease, margin-top 0.5s ease;
    width: 80%;
    border: none;
    border: 1px solid #95520B;
}

.task-input:focus {
    outline: none;
    border-bottom: 3px solid #95520B;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.5s;
    padding-top: 35px;
}
  
.task-input + label > span {
    /* font-weight: 500; */
    margin: 0;
    position: absolute;
    color: #8f8f8f;
    font-size: 14px;
    top: 3px;
    left: 10px;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
  
.task-input:focus + label > span {
    top: 0px;
    color: #333;
}
  
.button-add {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.button-add:hover {
    background-color: navajowhite;
}

.button-add:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
      0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}
  
.task-list-container {
    border: 1px solid #95520B;
    margin-top: 1em;
    position: relative;
}

.tab-type {
    display: flex;
    border-bottom: 1px solid lightgray;
}
  
.tab-type div {
    padding: 1em;
    cursor: pointer;
}
  
#tab-underline {
    background-color: bisque;
    height: 4px !important;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 48px;
    transition: 0.5s;
    padding: 0px;
}
  
.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task span {
    padding: 1em;
}

.button-box {
    display: flex;
}
  
.button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}

.button-box button:active {
    position: relative;
    top: 2px;
}
  
.button-box button:first-child:hover {
    background-color: greenyellow;
}

.button-box button:nth-child(2):hover {
    background-color: rgb(255, 0, 0, 0.3);
}
  
.fa-check {
    color: limegreen;
}
  
.fa-trash {
    color: red;
}

.fa-undo-alt {
    color: lightslategray;
}
  
.task-done {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
}