* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2018/11/17/07/10/notebook-3820634_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Title {
    color: burlywood;
}

.Container {
    border-top: 10px solid #95520B;
    border-bottom: 10px solid #95520B;
    height: 100vh;
    width: 100vh;
    margin-left: 26%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Menu {
    display: flex;
    border: 1px solid #6D3A04;
    width: 96vh;
    margin-left: 15px;
    height: 55px;
    font-weight: bold;
    font-weight: 500;
}

.WriteArea {
    margin-left: 15px;
    margin-bottom: 12px;
    margin-top: 12px;
    width: 75vh;
    height: 35px;
    border-color: #6D3A04;
    border: 1px solid #6D3A04;
}

.WriteArea::-webkit-input-placeholder {
    font-weight: bold;
    padding-left: 10px;
}

.Add {
    background-color: bisque;
    border: 1px solid bisque;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.Add:hover {
    background-color: rosybrown;
    border: 1px solid rosybrown;
    cursor: pointer;
}

.Title {
    margin-left: 15px;
    margin-top: 15px;
}

.All {
    margin: 12px;
    cursor: pointer;
}

.Done {
    margin: 12px;
    cursor: pointer;
}

.NDone {
    margin: 12px;
    cursor: pointer;
}

#UnderLine {
    position: absolute;
    width: 0;
    background-color: #95520B;
    top: 0;
    left: 0;
    height: 4px;
    transition: 0.5s;
}